<?php

$host = 'informix.example.com'; // hostname
$port = '1526'; // what Informix calls 'service'
$prt = 'onsoctcp'; // connection protocol
$db = 'dbname'; // database name
$srv = 'example'; // no idea what that does
$scrolCurs = 1; // enable scrollable cursors
$user = 'user'; // username
$pwd = 'pwd'; // password